.espectro{

 font-size:100px;
  font-family:Shojumaru;
   color:#FFFFFF; text-shadow:100px 100px 100px #000;
   
   }
   
   .welcome{
   font-size:80px; 
   font-family:Luckiest Guy;
   }
.self
{
	font-family: 'Merienda', cursive;
 	width:700px;

}
		
@media(max-width:1200px) {
 .self
 {
  width:600px;
 }
}		
@media(max-width:768px) {
.self
 {
  width:400px;
  margin-left:300px;
 
 }
 
}	
@media(max-width:668px) {
.self
 {
  
  width:300px;
  margin-left:350px;
 }
 .rachit1
 {
  display:none;
 }
rachit2
{
 font-size:13px;
}
}
@media(max-width:640px) {
.self
 {
  
  width:300px;
  margin-left:350px;
 }
 .rachit1
 {
  display:none;
 }
eex
{
 font:size:20px;
}
}
@media(max-width:375px) {
eex
{
 font:size:15px;
}
}
		
   @media(max-width:800px){
   
   .espectro{
   
   font-size:50px;
   margin-left:-700px;
   	}
   
   .welcome{
   font-size:60px; 
   
   
   }
   .rachit{
     display:none;
   }
    }
   @media(max-width:500px){
   
   
   .to
   {
   
	}	 
eex
{
 font:size:15px;
}	
   
   }